

    

 
  .animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size:38px;
        text-align: left;
  }@media (min-width: 400px) and (max-width: 800px) {
    .animate-charcter{
      font-size:30px;
    }
  }
  @media (min-width: 320px) and (max-width:390px) {
    .animate-charcter{
      font-size:25px;
    }
  }@media screen and (max-width:320px){
    .animate-charcter{
      font-size: 12px;
    }
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  } 
  
  .vx{
    border: 1px solid black;
   

    width:auto;
 
    display: block;
    margin-left: auto;height: auto;
    margin-right: auto;height: auto;margin-top: 3%;
    padding: 6px;





}


@media (min-width: 300px) and (max-width: 600px){
  .vx{
    margin-top: 6%;padding: 0;
  }

}
@media (min-width: 412px) and (max-width: 600px){
  .text{
    font-size: 12px;
  }
}

.text{
 
  animation: fadeInAnimation ease 4s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;margin: 3%;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.tt{
  font-size: 16px;
margin-top: 4%;
}@media (min-width: 412px) and (max-width: 600px){
  .tt{
    font-size: 12px;
  }
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;width:12%;
  height: 40px;
}
th, td {
  background-color: #96D4D4;
}
.tr{
  text-decoration: none;
  color: black;
}.contact{
  background-color:lavenderblush;
  width: 100%;
  height:auto;
padding-top: 22px;-webkit-box-shadow:-8px 16px 25px 2px rgba(62,66,66,0.19);
-moz-box-shadow: -8px 16px 25px 2px rgba(62,66,66,0.19);
box-shadow: -8px 16px 25px 2px rgba(62,66,66,0.19);
}
.pn{
  width: 14%;
}
.fx{
  font-family: cursive;
  font-weight: bold;
}
a{
  text-decoration: none;color: black;
}

* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row1 {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column1 {
  flex: 25%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column1 {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row1 {
    flex-direction: column;
  }
}





